@model List<UoNodeModel>

@{
    for (int ix1 = 0; ix1 < Model.Count; ix1++)
    {
        var node = Model.ElementAt(ix1);
        <div class="@(ix1 != Model.Count - 1 ? "mb-4 " : "")border border-gray-200 rounded-md py-3 px-3">
            <dl class="block@(node.Description != null ? " sm:inline-block sm:w-1/2" : "")">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Name
                </dt>
                <dd class="flex items-center mt-1 text-sm leading-5 text-gray-900">
                    @if (node.NodeCode != null)
                    {
                        <span class="inline-flex items-center px-2.5 py-0.5 mr-2 rounded-md font-semibold leading-5 tracking-wider bg-gray-100">@node.NodeCode</span>
                    }
                    <span>@node.Name</span>
                </dd>
            </dl>
            @if (node.Description != null)
            {
                <dl class="block sm:inline-block sm:w-1/2">
                    <dt class="text-sm leading-5 font-medium text-gray-500">
                        Description
                    </dt>
                    <dd class="mt-1 text-sm leading-5 text-gray-900">
                        @node.Description
                    </dd>
                </dl>
            }
            @if (ViewData["IncludeNodeLink"] is bool includeNodeLink)
            {
                if (includeNodeLink)
                {
                    @if ((bool)ViewData["IsStatic"])
                    {
                        <a class="inline-block mt-2 select-none underline font-medium text-sm text-indigo-600 hover:text-indigo-900" href="node-@(node.NodeId).aspx">
                            View node
                        </a>
                    }
                    else
                    {
                        <a class="inline-block mt-2 select-none underline font-medium text-sm text-indigo-600 hover:text-indigo-900"
                            asp-controller="UoNode" asp-action="GetView" asp-route-id="@node.NodeId" asp-route-projectId="@ViewData["ProjectId"]"  asp-route-template="@ViewData["Template"]">
                            View node
                        </a>
                    }
                }
            }
        </div>
    }
}
