@page
@model IndexModel
@{
  ViewData["Title"] = "Home Page";
}

<section class="py-4">
  <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="border-b border-gray-200 px-4 py-5 sm:px-6">
          <h2 class="text-lg font-semibold text-gray-900">@Model.Program.Name</h2>
          <a asp-page="Course">Course</a>
      </div>
    <!--
    <div class="flex pt-5 px-5 items-center">
      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" class="mr-2 h-6 w-6 text-gray-400">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z"></path>
      </svg>
      <div class="text-sm text-gray-500">This course has viewable <span class="font-medium">student work samples</span></div>
    </div>
    -->
    <div class="px-4 py-5 sm:p-6">
      @foreach (var CourseList in @Model.Program.ProgramStructure)
      {
        <h3 class="text-xl font-semibold text-gray-900">@CourseList.Name</h3>
        <div class="flex flex-col">
          <div class="-my-2 py-4 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
            <div class="align-middle inline-block min-w-full shadow overflow-hidden rounded-lg border-b border-gray-200">
              <table class="min-w-full">
                <thead>
                  <tr>
                    <th class="w-2/12 px-6 py-3 whitespace-no-wrap border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                      Course Code
                    </th>
                    <th class="w-5/12 sm:px-3 lg:px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                      Name
                    </th>
                    <th class="hidden lg:table-cell w-3/12 px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                      Field of Education
                    </th>
                    <th class="hidden md:table-cell w-1/12 px-6 py-3 border-b border-gray-200 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                      Units
                    </th>
                    <th class="w-1/12 px-6 py-3 border-b border-gray-200 bg-gray-50"></th>
                  </tr>
                </thead>
                <tbody>
                  @foreach (var Mapped in CourseList.CourseListCourses)
                  {
                    <tr class="h-13">
                      <td class="w-2/12 px-6 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900">
                        <div class="flex items-center">@Mapped.Course.GetCourseCode()</div>
                      </td>
                      <td class="w-5/12 sm:px-3 lg:px-6 break-normal text-xs sm:text-sm leading-5 text-gray-500">
                        @Mapped.Course.Name
                      </td>
                      <td class="hidden lg:table-cell w-3/12 px-6 whitespace-no-wrap text-sm leading-5 text-gray-500">
                        @Mapped.Course.FieldOfEducation.Name
                      </td>
                      <td class="hidden md:table-cell w-1/12 px-6 whitespace-no-wrap text-center text-sm leading-5 text-gray-500">
                        @Mapped.Course.Units
                      </td>
                      <td class="w-1/12 px-6 whitespace-no-wrap text-right text-sm leading-5 font-medium">
                        <a href="" class="underline text-indigo-600 hover:text-indigo-900">
                          View<div class="hidden sm:inline"> course</div>
                        </a>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
